.badge.notificas { padding: 0px 1px; font-size: 8px; line-height: 1.3; background-color: red; position: absolute; top: 2px; margin-left: 8px; right: 4px; text-indent: -55555px; }

.navbar-default { min-height: 64px; }
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus { background: #0695d6; }
@media (min-width: 768px) { .navbar-default { min-height: 70px; } }
.navbar-default .nav > li > a { font-size: 14px; padding-bottom: 10px; padding-top: 10px; color: #0695d6; }
@media (min-width: 768px) { .navbar-default .nav > li > a { font-size: 12px; padding: 20px 5px; } }
@media (min-width: 992px) { .navbar-default .nav > li > a { font-size: 15px; padding: 20px 10px; } }

.navbar .dropdown-menu li a { text-transform: none; }

@media (min-width: 768px) { .navbar-default .nav > li:last-of-type > a { padding-left: 10px; padding-right: 10px; } }
@media (min-width: 979px) { .navbar-default .nav > li:last-of-type > a { padding-left: 10px; padding-right: 10px; } }

.navbar > .container .navbar-brand img { height: 29px; }
@media (min-width: 420px) { .navbar > .container .navbar-brand img { height: 36px !important; } }
@media (min-width: 992px) { .navbar > .container .navbar-brand img { height: 50px !important; } }

.navbar-brand { padding: 14px 0 14px 5px; }
@media (min-width: 768px) { .navbar-brand { padding-top: 16px; } }
@media (min-width: 992px) { .navbar-brand { padding-top: 10px; } }

.navbar-default .nav > li > a.active { background: #0695d6; color: #fff; }


.badge { padding: 0px 4px; font-size: 10px; line-height: 1.3; background-color:red; position: absolute; top: 18px; margin-left: 8px; }
.bexpediente { padding: 0px 4px; font-size: 10px; line-height: 1.3; background-color: #868d90; position: absolute; top: 18px; margin-left: 8px; }

@media (min-width: 768px) { .badge { right: 1px; top: 16px; } }

.jumbotron_bar { background: rgba(153, 153, 153, 0.09) none repeat scroll 0 0/cover; color: #000; font-size: 13px; padding: 12px 0; width: 100%; }
.jumbotron_bar .breadcrumb { margin-top: 0; }
.jumbotron_bar .logueado { text-align: right; }
.jumbotron_bar .logueado .nom-logueado { list-style-type: none; margin: 0; padding: 2px; float: right; }
.jumbotron_bar .logueado .salir { border-top: 1px solid #eee; }

.nom-logueado .dropdown-menu { right: 15px; left: auto; top: 20px; border: none; border-radius: 0; }
.nom-logueado .submenu { background: #0695d6; }
.nom-logueado .submenu li a { padding: 6px 10px; border-bottom: 0; color: #fff; font-size: 12px; }

.main-footer { padding: 30px 0 0 0; border-top: #dadada 1px solid; }
.main-footer li > a { font-size: 12px; }
.main-footer .para-desktop { display: none; }
.main-footer .para-mobile { width: 30%; margin-bottom: 0 !important; }
.main-footer .all-footer { padding: 0; }
.main-footer .all-footer .ayudas, .main-footer .all-footer .institu { text-align: center; }
@media (min-width: 425px) { .main-footer .para-desktop { display: block; max-width: 230px !important; margin: 0 auto; height: 36px; }
  .main-footer .para-mobile { display: none; }
  .main-footer .all-footer { padding: 0 15px; } }
@media (min-width: 768px) { .main-footer .para-desktop { margin: 0; }
  .main-footer .all-footer { padding: 0 15px; }
  .main-footer .all-footer .ayudas { text-align: right; }
  .main-footer .all-footer .ayudas li { padding-left: 1%; display: inline-block; } }

.tab-pane { padding: 20px 0; margin-bottom: 30px; }

.panel-default .panel-heading { background: #fff; border: 0; min-height: 0; }
.panel-default .panel-heading a { color: #0695d6; }

.busca-tabla { overflow: hidden; }
.busca-tabla .input-group { width: 100%; }
@media (min-width: 768px) { .busca-tabla .input-group { width: 450px; } }
.busca-tabla .btn { font-size: 14px; padding: 5px 10px; }

.tab-respon { font-size: 10px; }
@media (min-width: 768px) { .tab-respon { font-size: 13px; } }
.tab-respon .acciones { text-align: center; min-width: 120px; }
.tab-respon .acciones a { font-size: 20px; margin-left: 5px; }
.tab-respon .acciones a .ico-pago { background-image: url(../images/ico-pago.svg); width: 19px !important; height: 28px !important; display: inline-block; background-size: 20px; background-position: 0px 10px; background-repeat: no-repeat; overflow: hidden; }
.tab-respon .acciones a .ico-pago:hover { background-image: url(../images/ico-pago2.svg); }

table th { text-align: center; }

tfoot { text-align: center; }

.no-leido { font-weight: bold; }

.contador { overflow: hidden; }
.contador .col-md-6 { overflow: hidden; padding: 0; }
.contador .cuantos span { float: left; width: 100%; text-align: center; padding: 4px 3px 0 0; font-size: 12px; }
@media (min-width: 768px) { .contador .cuantos span { width: 65%; float: left; width: 45%; text-align: right; } }
.contador .cuantos .cantidad { float: none; width: 100%; }
@media (min-width: 768px) { .contador .cuantos .cantidad { float: left; width: 55%; } }
.contador select.input-sm { width: 80px; margin: 0 auto; }

.cen-pagina { text-align: center; }
@media (min-width: 768px) { .cen-pagina { text-align: left; } }
.cen-pagina .pagination { font-size: 12px; margin: 10px auto 0 auto; text-align: center; }
@media (min-width: 768px) { .cen-pagina .pagination { margin-top: 0; } }
.cen-pagina .pagination li > a { padding: 6px 9px; }

/*****************refereencias**************************/
.referencias { border-top: 1px solid #dddddd; clear: both; margin: 20px 0; text-align: right; }
.referencias ul > li { list-style: none; display: inline; margin-left: 25px; font-size: 12px; color: #797979; }
.referencias ul > li.pago-ico { background-image: url(../images/ico-pagor.svg); background-repeat: no-repeat; background-position: -1px 1px; width: 5px; height: 5px; background-size: 8px; padding-left: 10px; }

.breadcrumb li { font-size: 12px; }

.buscamos input.tt-input { padding: 19px; font-size: 20px; }
.buscamos .btn { margin-bottom: 0px; }

.cont-nuevot { display: block; overflow: hidden; width: 100%; clear: both; position: relative; }
@media (min-width: 425px) { .cont-nuevot h2 { float: left; } }
.cont-nuevot .nuevo-tramite { width: 100%; }
@media (min-width: 768px) { .cont-nuevot .nuevo-tramite { display: none; } }
@media (min-width: 425px) { .cont-nuevot .nuevo-tramite { width: auto; font-size: 12px; float: right; margin-top: 20px; } }
.cont-nuevot .volver-btn { width: 100%; font-size: 11px; }
@media (min-width: 425px) { .cont-nuevot .volver-btn { width: auto; float: right; margin-top: 20px; } }
.cont-nuevot .breadcrumb { width: 100%; }
@media (min-width: 425px) { .cont-nuevot .breadcrumb { width: 74%; float: left; } }

.ico-pago img { width: 20px; }

.resultados { padding: 0; }
.resultados .pago { float: right; }
.resultados .pago img { width: 25px; }
.resultados p { color: #767676; margin: 0; width: auto; }
.resultados small { color: #767676; }

.res-trami { padding: 0; }
.res-trami .los-botones { padding-top: 20px; }
.res-trami .los-botones .btn { width: 100%; }
@media (min-width: 320px) { .res-trami .los-botones { text-align: right; padding-top: 20px; }
  .res-trami .los-botones .btn { width: auto; } }

.filtros { padding: 0; }
@media (min-width: 992px) { .filtros { padding: 15px 20px 15px 0; } }

.nav-stacked li { font-size: 14px; }
@media (min-width: 425px) { .nav-stacked li { font-size: 16px; } }
.nav-stacked li a { padding: 10px 15px 10px 5px; font-size: 14px; }
.nav-stacked .b-nav-cir { background: #767676; margin-top: -3px; }

.btn-ver-todos { margin-top: 10px; border-top: 1px solid #dadada; padding-top: 10px; }
.btn-ver-todos .ver-todos { border: 1px solid #0695d6; width: 100%; float: right; }
.btn-ver-todos .ver-todos:hover { border: 1px solid #0695d6; }
.btn-ver-todos .ver-todos:visited { color: #0695d6; }
@media (min-width: 425px) { .btn-ver-todos .ver-todos { width: 30%; } }

.datos-tramite { overflow: hidden; }
.datos-tramite .organismo-tramite { float: left; color: #767676; margin-bottom: 0; }
.datos-tramite .ver-tramite { float: right; }
.datos-tramite .info-rele { display: block; clear: both; padding: 5px; border-radius: 5px; font-size: 12px; border: 1px solid #f97000; }
.datos-tramite .info-rele span { color: #f97000; font-weight: bold; }

.aclaraciones { overflow: hidden; margin-bottom: 10px; }
.aclaraciones p { font-size: 14px; }
.aclaraciones span { color: red; }
.aclaraciones .aclara-aclara { font-size: 11px; color: #767676; }
.aclaraciones .aclara-aclara .cuenta { width: 100%; float: left; }
@media (min-width: 425px) { .aclaraciones .aclara-aclara .cuenta { width: 49%; } }
.aclaraciones .aclara-aclara .obliga { width: 100%; }
@media (min-width: 425px) { .aclaraciones .aclara-aclara .obliga { width: 49%; text-align: right; float: right; } }
.aclaraciones .ad-doc { font-size: 12px; }

.doc-subir { margin: 38px 0; overflow: hidden; padding-bottom: 10px; font-size: 14px; }
.doc-subir .mod-adjunta { overflow: hidden; border-bottom: 1px #dadada dashed; padding: 10px 0; }
.doc-subir .mod-adjunta .archivos { padding-right: 0; padding-left: 0; }
.doc-subir .mod-adjunta .obliga { padding-right: 0; padding-left: 0; float: left; width: 18px; }
.doc-subir .docs-cargar { padding-right: 0; padding-left: 0; float: left; width: 90%; }
.doc-subir .docs-cargar ul { margin: 0; padding: 0; list-style: none; }
.doc-subir .docs-cargar .refiere-doc { font-weight: bold; }

.documentacion-subir .drop { overflow: hidden; }
.documentacion-subir .modal-footer { clear: both; }
.documentacion-subir .drop-file { font-size: 12px; }

@media (max-width: 580px) { .col-btn-modal { width: 100% !important; } }
.caratula-variable { clear: both; }
.caratula-variable h3 { background: #dadada; }
.caratula-variable .form-group { margin-bottom: 3px; }
.caratula-variable .col-xs-6 { padding-right: 0; padding-left: 0; margin-top: 3px; }

.texto-correcto { text-align: center; color: #46a948; padding-top: 20px; }
.texto-correcto .alert-success { margin: 0 180px 20px; background-color: #fff; border: 1px solid; }
@media (max-width: 760px) { .texto-correcto .alert-success { margin: 0 60px 20px; } }

.finaliza-exp { padding-top: 10px; }

.help-block { font-size: 10px; }

.descargar-todo { text-align: right; }

.colorrojo { color: red; }
.colorverde { color: green; }

.progreso-tram { margin-top: 20px; text-align: center; overflow: hidden; background-image: url(../images/linea.png); background-size: 15%; background-repeat: repeat-x; }
.progreso-tram.num6 .mod-paso { margin: 0 1.5%; }
.progreso-tram.num5 .mod-paso { margin: 0 4.5%; }
.progreso-tram.num4 .mod-paso { margin: 0 10%; }
.progreso-tram.num3 .mod-paso { margin: 0 28%; }
.progreso-tram.num1 .mod-paso { margin: 0 28%; }
.progreso-tram.num1 .mod-paso:last-child { float: none !important; }
.progreso-tram .progreso-centra { margin: 0 0 0 0; overflow: hidden; padding-right: 0; padding-left: 0; }
.progreso-tram .progreso-centra .mod-paso { width: 14.27%; float: left; }
.progreso-tram .progreso-centra .mod-paso:first-child { margin: 0 auto; }
.progreso-tram .progreso-centra .mod-paso:last-child { float: right; margin: 0 auto; }
.progreso-tram .progreso-centra .mod-paso .paso { opacity: .4; }
.progreso-tram .progreso-centra .mod-paso .paso.active { opacity: 1; }
.progreso-tram .progreso-centra .mod-paso .paso img { width: 100%; }
.progreso-tram .progreso-centra .mod-paso .info-paso { display: none; }
@media (min-width: 768px) { .progreso-tram .progreso-centra .mod-paso .info-paso { display: block; margin: 0 auto; padding: 2px; font-size: 12px; text-align: center; } }

body { background: #fff; }

a { color: #0695d6; }

a:active, a:active * { outline: none !important; -moz-outline-style: none !important; }

a:focus, a:focus * { outline: none !important; -moz-outline-style: none !important; }

h2 { font-size: 2em; }

h3 { font-size: 1.5em; }
h3 span { color: #01bdf2; }

h4 { font-size: 1.2em; }
h4.tit-azul { color: #0695d6; }

hr { margin: 15px 0; }

.poco-cont { margin-top: 60px; margin-bottom: 60px; }
.poco-cont .form-group { margin-bottom: 20px; }
.poco-cont .btn-ingresa-rep { text-align: center; }
.poco-cont .disponible { background-color: #46a948; color: #fff; }
.poco-cont .no-disponible { background-color: #fd4138; color: #fff; }
.poco-cont .renovar { background: #f5ce00; color: #000; }

.representando { color: #0695d6; }
.representando span { font-weight: bold; }

.describe { margin-bottom: 12px; font-size: 12px; }
.describe a{ color: #000; }
@media (min-width: 768px) { .describe { font-size: 14px; } }

.rojo { color: red; }

.naranja { color: #f97000; }

.verde { color: #46a948; }

.faq { font-size: 12px; }
.faq .panel-heading { padding: 5px 10px; }

.busca-dominios { overflow: hidden; margin-bottom: 10px; }
.busca-dominios .campo-busca { width: 100%; margin-bottom: 10px; }
@media (min-width: 425px) { .busca-dominios .campo-busca { width: 80%; float: left; } }
.busca-dominios .campo-busca input { height: 30px; padding: 1px; }
.busca-dominios .campo-zona { width: 100%; }
@media (min-width: 425px) { .busca-dominios .campo-zona { width: 20%; float: left; } }
.busca-dominios .campo-zona select { height: 30px; padding: 1px; }

.form-horizontal { margin-bottom: 10px; }

.form-group { font-size: 13px; margin-bottom: 0px; }
.form-group label { margin-top: 5px; }
@media (max-width: 550px) { .form-group.agrupa div, .form-group.agrupa label { width: 100% !important; float: none; } }
@media (min-width: 551px) { .form-group.agrupa div, .form-group.agrupa label { margin-top: 5px; } }
.form-group.agrupa span { color: #46a948; right: 15px; }
.form-group.btn-ver-mas { text-align: right; margin: 15px 0 0 0; }
.form-group.btn-ver-mas a { line-height: 2.4; margin-right: 5px; }
@media (min-width: 768px) { .form-group input, .form-group select, .form-group textarea { font-size: 13px; } }
.form-group .col-sm-10.form-tel { padding-left: 0; padding-right: 0; }
.form-group .col-sm-10.form-tel .form-control { margin-bottom: 7px; }
@media (min-width: 768px) { .form-group .col-sm-10.form-tel { padding-right: 8px; padding-left: 12px; }
  .form-group .col-sm-10.form-tel .col-xs-2, .form-group .col-sm-10.form-tel .col-xs-8 { padding: 0 5px 0 0; }
  .form-group .col-sm-10.form-tel input { padding: 6px 1px; } }
@media (min-width: 992px) { .form-group .col-sm-10.form-tel { padding-right: 12px; }
  .form-group .col-sm-10.form-tel .col-xs-2, .form-group .col-sm-10.form-tel .col-xs-8 { padding: 0 3px; } }
.form-group.oculto { color: red; }
.form-group.oculto input { color: red; }
.form-group .form-control { height: auto; }
.form-group .quemado { background-color: transparent; border: none; box-shadow: none; padding: 0; }
@media (min-width: 768px) { .form-group .quemado { padding: 10px 0 0 0; } }
.form-group .editar-continuar { text-align: center; margin-top: -5px; margin-bottom: 10px; }
.form-group .editar-continuar .btn { margin: 10px 10px auto 10px; }
.form-group .editar-continuar .btn-sm { margin-top: 20px; }

span.backborra { background: red !important; position: relative; top: 0; }

.permisos .buscar { padding: 5px; height: 32px; margin-bottom: 5px; }

.wizard {
  margin: 20px auto;
  background: #fff;
}

.wizard .nav-tabs {
  position: relative;
  /*margin: 40px auto;*/
  margin-bottom: 0;
  border-bottom-color: #e0e0e0;
}

.wizard > div.wizard-inner {
  position: relative;
}

.connecting-line {
  height: 2px;
  background: #e0e0e0;
  position: absolute;
  width: 80%;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 50%;
  z-index: 1;
}

.wizard .nav-tabs > li.active > a, .wizard .nav-tabs > li.active > a:hover, .wizard .nav-tabs > li.active > a:focus {
  color: #555555;
  cursor: default;
  border: 0;
  border-bottom-color: transparent;
}

span.round-tab {
  width: 70px;
  height: 70px;
  line-height: 70px;
  display: inline-block;
  border-radius: 100px;
  background: #fff;
  border: 2px solid #e0e0e0;
  z-index: 2;
  position: absolute;
  left: 0;
  text-align: center;
  font-size: 25px;
}
span.round-tab i{
  color:#555555;
}
.wizard li.active span.round-tab {
  background: #fff;
  border: 2px solid #5bc0de;

}
.wizard li.active span.round-tab i{
  color: #5bc0de;
}

span.round-tab:hover {
  color: #333;
  border: 2px solid #333;
}

.wizard .nav-tabs > li {
  width: 20%;
}

.wizard li:after {
  content: " ";
  position: absolute;
  left: 46%;
  opacity: 0;
  margin: 0 auto;
  bottom: 0px;
  border: 5px solid transparent;
  border-bottom-color: #5bc0de;
  transition: 0.1s ease-in-out;
}

.wizard li.active:after {
  content: " ";
  position: absolute;
  left: 46%;
  opacity: 1;
  margin: 0 auto;
  bottom: 0px;
  border: 10px solid transparent;
  border-bottom-color: #5bc0de;
}

.wizard .nav-tabs > li a {
  width: 70px;
  height: 70px;
  margin: 20px auto;
  border-radius: 100%;
  padding: 0;
}

.wizard .nav-tabs > li a:hover {
  background: transparent;
}

.wizard .tab-pane {
  position: relative;
  padding-top: 50px;
}

.wizard h3 {
  margin-top: 0;
}

@media( max-width : 585px ) {

  .wizard {
    width: 90%;
    height: auto !important;
  }

  span.round-tab {
    font-size: 16px;
    width: 50px;
    height: 50px;
    line-height: 50px;
  }

  .wizard .nav-tabs > li a {
    width: 50px;
    height: 50px;
    line-height: 50px;
  }

  .wizard li.active:after {
    content: " ";
    position: absolute;
    left: 35%;
  }
}
a, .manito {
  cursor: pointer;
}

i.hidden {
  display: none;
}

.selectable::hover {
  background: lightgrey;
}

.table-content-centered tr td {
  text-align: center;
}


.loading {
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  position: fixed;
  display: block;
  opacity: 0.7;

  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);

  background-color: #fff;
  z-index: 99;
  text-align: center;
}
.loading div {
  position: absolute;
  /*margin-top: -66px;
  margin-left: -66px;*/
  top: 50%;
  left: 50%;

  width: 200px;
  margin-left: -100px;
  height: 50px;
  margin-top: -50px;
}
.loading div:first-child {
  position: absolute;
  margin-top: -55px;
  margin-left: -75px;
  width:150px;
  white-space: nowrap;
}
.loading div:last-child {
  position: absolute;
  margin-top: -35px;
  width:150px;
  margin-left: -75px;
  white-space: nowrap;
}
.loading img {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -33px;
  margin-left: -33px;
  z-index: 100;
  content: url("../images/ajax-loader.gif");
}

.busca-exp { overflow: hidden; margin-bottom: 10px; margin-left: 20%; clear: left; }
@media (min-width: 750px) { .busca-exp { margin-left: 0; } }
.busca-exp .campo-busca-exp { margin-bottom: 10px; float: none; width: 80%; margin: 0 1%; }
@media (min-width: 750px) { .busca-exp .campo-busca-exp { float: left; width: 31%; margin: 0; } }
.busca-exp .campo-busca-exp label { float: left; padding-top: 7px; margin-right: 2px; width: 40px; font-size: 12px; text-align: center; font-weight: bold; }
.busca-exp .campo-busca-exp input { width: 87%; height: 30px; padding: 1px; }
@media (min-width: 750px) { .busca-exp .campo-busca-exp input { width: 79%; } }

.ohidden { overflow: hidden; }
select.no-arrow {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
  background: url(custom image) no-repeat right center;
}
span.input-group-btn {
    vertical-align: bottom;
}
span.input-group-btn button {
    margin: 0px;
    vertical-align: bottom;
}

.agrega-delega { background-color: #01bdf2 !important; }
.agrega-delega .campo-tabla { padding: 6px; height: 28px; }
.agrega-delega a { color: #fff; }


.table-striped .btn {
  font-size: 11px;
  margin-bottom: 0;
}

.renmul{
  display: none;
  padding: 10px;
}


.costosDom{
  margin-top: 15px;
}

.costosRen{
  text-align: right;
}

@media only screen and (max-width: 990px){
  .costosDom{
    margin-top: 5px;
  }
}

@media only screen and (max-width: 768px){
  .costosDom{
    text-align: center;
    float: none;
  }
  .costosRen{
    margin: 10px 0;
    text-align: center;
    float: none;
  }
}